html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Overpass", sans-serif;
  background-color: #ff9500;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}
